:root {
    --color-yellow: #e4cfb0;
    --color-yellow-dark: #b29a73;
    --color-brown: #6e4831;
    --color-red: #bc312a;
    --color-white: #d0d0c5;
    --color-black: #31334c;
    --color-grey: #aba291;

    /* Normal size: 112mm x 67mm */
    /* Bron dimensies: https://game-watch.fandom.com/wiki/Parachute */
    --gamewatch-width: 1008px;
    --gamewatch-height: 603px;
}

.gamewatch {
    width: var(--gamewatch-width);
    height: var(--gamewatch-height);
    background: var(--color-yellow);
    border-top: 1.2rem solid var(--color-brown);
    border-bottom: 1.2rem solid var(--color-brown);
    border-left: 0.6rem solid var(--color-brown);
    border-right: 0.6rem solid var(--color-brown);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        .red-button {
            width: 6rem;
            aspect-ratio: 1;
            background: var(--color-brown);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            button {
                width: 90%;
                aspect-ratio: 1;
                background: var(--color-red);
                border-radius: 50%;
                border: none;
                box-shadow: 0px 10px 0px 0px #4b1111;
                transform: translateY(-9px);


                &:active {
                    box-shadow: 0px 1px 0px 0px #4b1111;
                    transform: translateY(0px);
                }
            } 
        }

        p {
            display: flex;
            align-items: center;
            font-family: "Jost";
            font-size: 1.5rem;
            color: var(--color-black);
            gap: 0.5rem;
            text-transform: uppercase;
        }
    }



    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .top p {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2rem;
            background: var(--color-white);
            border: 2px solid var(--color-black);
            border-radius: 1rem;
            font-family: Jost;
            width: 8rem;
            position: relative;
            text-transform: uppercase;
            line-height: 2rem;
            font-weight: bold;

            &::after {
                content: "Nintendo";
                position: absolute;
                font-family: "Nintendo-Font";
                font-size: 1rem;
                bottom: -2.5rem;
                text-transform: initial;
            }
        }
    }

    .center-screen {
        width: 70%;
        height: 100%;
        background: var(--color-yellow);
        border: 1.5rem solid var(--color-yellow-dark);
        padding: 1rem;

        .word-border {
            background: var(--color-yellow);
            border: 4px solid var(--color-black);
            border-radius: 1rem;
            height: 100%;
            width: 100%;
            position: relative;
            padding: 1.5rem;

            &::before, &::after {
                position: absolute;
                font-family: "Jost";
                background: var(--color-yellow);
                padding: 0 1rem;
                font-size: 1.5rem;
                left: 50%;
                transform: translateX(-50%);
                text-transform: uppercase;
            }

            &::before {
                content: "Parachute";
                top: -1rem;
            }

            &::after {
                content: "Wide Screen";       
                bottom: -1rem;
            }

            .screen {
                width: 100%;
                height: 100%;
                background: blue;
                border: 1.3rem solid var(--color-brown);
                border-radius: 1rem;

            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .top {
            display: flex;
            align-items: center;
            gap: 1rem;

            .grey-buttons-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                .grey-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div {
                        width: 5rem;
                        height: 3rem;
                        background: var(--color-brown);
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button, a {
                            width: 80%;
                            height: 70%;
                            background: var(--color-grey);
                            border-radius: 2rem;
                            border: none;
                            box-shadow: 0px 5px 0px 0px #5c5b5b;
                            transform: translateY(-3px);

                            &:active {
                                box-shadow: 0px 1px 0px 0px #5c5b5b;
                                transform: translateY(0px);
                            }
                        }
                    }

                    p {
                        font-family: "Jost";
                        color: var(--color-black);
                        font-size: 1rem;
                        text-transform: uppercase;
                    }


                }
            }

            .lights-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .light {
                        width: 1rem;
                        aspect-ratio: 1;
                        background: var(--color-red);
                        border-radius: 50%;
                        filter: drop-shadow(0px 0px 3px var(--color-red));
                    }

                    p {
                        font-family: "Jost";
                        color: var(--color-black);
                        font-size: 1rem;
                        text-transform: uppercase;
                    }
                }


            }
        }
    }
}