/* Source: https://fonts.google.com/specimen/Jost */
@font-face {
    font-family: "Jost";
    src: url("../Assets/fonts/Jost-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../Assets/fonts/Jost-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Source: https://font.download/font/nes-controller*/
@font-face {
    font-family: "Nes-Font";
    src: url("../Assets/fonts/Nes-Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Source: https://www.fontspace.com/ro-spritendo-font-f83198 */
@font-face {
    font-family: "Nintendo-Font";
    src: url("../Assets/fonts/Nintendo-Font.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Source: https://fonts.google.com/specimen/Press+Start+2P */
@font-face {
    font-family: "Pixel-Font";
    src: url("../Assets/fonts/Pixel-Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Source https://fontmeme.com/fonts/unown-font/ */
@font-face {
    font-family: "Unown";
    src: url("../Assets/fonts/Unown.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

:root {
    --body-primary: hsl(0, 0%, 98%);
    --body-secondary: hsl(244, 100%, 27%);
    --body-background: radial-gradient(circle, var(--body-primary) 0%, var(--body-secondary) 100%);
    --dpad-color-shadow: #a7a7a7;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--body-background);
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
    position: fixed;
    background: white;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
    transition: transform 0.3s ease;
    corner-shape: bevel;
    border: 0.7rem solid lightgray;
    border-right: none;
    border-radius: 2rem 0 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 1rem;
    gap: 2rem;

    button {
        font-family: "Jost";
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        background: white;
        border: 0.7rem solid lightgray;
        border-bottom: none;
        corner-shape: bevel;
        border-radius: 1rem 1rem 0 0;
        position: absolute;
        top: 50%;
        left: -6.5rem;
        transform: translateX(50%);
        rotate: -90deg;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 8rem;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: clamp(80px, 15vw, 120px);
        aspect-ratio: 1;
        text-decoration: none;
        transition: transform 0.15s ease;
        transform-origin: bottom center;
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            color: white;
            font-family: "Jost";
            background: rgba(0, 0, 0, 0.5);
            order: -1;
            width: 120px;
            text-align: center;
            padding: 0.5rem 0;
            border-radius: 1rem;
            position: relative;
            opacity: 0;
            transition: opacity 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                height: 20px;
                width: 40px;
                corner-bottom-left-shape: bevel;
                corner-bottom-right-shape: bevel;
                border-radius: 0 0 2rem 2rem;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        &:hover {
            transition: transform 0.15s ease;
            transform: scale(1.1);

            p {
                opacity: 1;
            }
        }


    }
}

.nav-open {
    transform: translateX(0) translateY(-50%);
    transition: transform 0.3s ease;
} 

button:hover, a:hover {
    cursor: pointer;
}

[popover] {
    position: fixed;
    margin: auto;
    opacity: 0;
    scale: 0;
    transition: opacity .5s ease, scale .5s ease, overlay .5s ease, display .5s ease;
    transition-behavior: allow-discrete;
}


/* When open */
[popover]:popover-open {
    opacity: 1;
    scale: 1;
}

/* Starting state for opening */
@starting-style {
  [popover]:popover-open {
    opacity: 0;
    scale: 0;
  }
}

.hidden {
    display: none;
}

.dpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1;

    button {
        aspect-ratio: 1;
        border: none;
        padding: 0.5rem;
        z-index: 1;
    }

    #dpad-up {
        grid-area: 1 / 2;
        border-radius: 5px 5px 0 0;
    }

    #dpad-left {
        grid-area: 2 / 1;
        border-radius: 5px 0 0 5px;
        filter:drop-shadow(0 4px 0px var(--dpad-color-shadow));
    }

    div {
        grid-column: 2;
        grid-row: 2;
        z-index: 0;
    }

    #dpad-right {
        grid-area: 2 / 3;
        border-radius: 0 5px 5px 0;
        filter:drop-shadow(0 4px 0px var(--dpad-color-shadow));

    }

    #dpad-down {
        grid-area: 3 / 2;
        border-radius: 0 0 5px 5px;
        filter:drop-shadow(0 4px 0px var(--dpad-color-shadow));
    }

    #dpad-up,
    #dpad-down {
        hr {
            rotate: 90deg;
        }
    }
}

/* Top Button */
.dpad.top-pressed #dpad-up { transform: rotateX(22.5deg); }
.dpad.top-pressed #dpad-left { filter: drop-shadow(0 6px 0 var(--dpad-color-shadow)); transform: rotateX(22.5deg) translateY(-4px);}
.dpad.top-pressed #dpad-right { filter: drop-shadow(0 6px 0 var(--dpad-color-shadow)); transform: rotateX(22.5deg) translateY(-4px); }
.dpad.top-pressed #dpad-down { filter: drop-shadow(0 8px 0 var(--dpad-color-shadow)); transform: rotateX(-45deg)  translateY(-11px); }
.dpad.top-pressed #dpad-div { margin-top: -4px;}

/* Left Button */
.dpad.left-pressed #dpad-left { transform: rotateY(-30deg);}
.dpad.left-pressed #dpad-up { filter: drop-shadow(6px 0 0 var(--dpad-color-shadow)); transform:rotateY(22.5deg) translateX(-4px);}
.dpad.left-pressed #dpad-down { filter: drop-shadow(6px 4px 0 var(--dpad-color-shadow)); transform:rotateY(22.5deg) translateX(-4px);}
.dpad.left-pressed #dpad-right { filter: drop-shadow(4px 4px 0 var(--dpad-color-shadow)); transform: rotateY(-30deg) translateX(-9px);}
.dpad.left-pressed #dpad-div { filter: drop-shadow(4px 4px 0 var(--dpad-color-shadow)); transform: translateX(-4px);}

/* Right Button */
.dpad.right-pressed #dpad-right { transform: rotateY(-22.5deg);}
.dpad.right-pressed #dpad-up { filter: drop-shadow(-6px 0 var(--dpad-color-shadow)); transform:rotateY(-22.5deg) translateX(4px);}
.dpad.right-pressed #dpad-down { filter: drop-shadow(-6px 4px 0 var(--dpad-color-shadow)); transform:rotateY(-22.5deg) translateX(4px);}
.dpad.right-pressed #dpad-left { filter: drop-shadow(-4px 4px 0 var(--dpad-color-shadow)); transform: rotateY(30deg) translateX(9px); }
.dpad.right-pressed #dpad-div { filter: drop-shadow(-4px 4px 0 var(--dpad-color-shadow)); transform: translateX(4px); }

/* Bottom Button */
.dpad.bottom-pressed #dpad-down { filter: drop-shadow(0 0px 0 var(--dpad-color-shadow));}
.dpad.bottom-pressed #dpad-left { filter: drop-shadow(0 -4px 0 var(--dpad-color-shadow)); transform: rotateX(-22.5deg) translateY(4px);}
.dpad.bottom-pressed #dpad-right { filter: drop-shadow(0 -4px 0 var(--dpad-color-shadow)); transform: rotateX(-22.5deg) translateY(4px);}
.dpad.bottom-pressed #dpad-up { filter: drop-shadow(0 -4px 0 var(--dpad-color-shadow)); transform: rotateX(40deg) translateY(11px);}


.btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1rem;
    width: 8rem;
    aspect-ratio: 1;

    button {
        border: none;
        width: 2.7rem;
        aspect-ratio: 1;
        background: var(--switch-black);
        border-radius: 50%;
        box-shadow: 0px 5px 0px 0px black;

        &:active {
            box-shadow: 0px 2px 0px 0px black;
            transform: translateY(3px);
        }

        &:nth-of-type(1) { grid-column: 2; }
        &:nth-of-type(2) { grid-column: 1; grid-row: 2; }
        &:nth-of-type(3) { grid-column: 3; grid-row: 2; }
        &:nth-of-type(4) { grid-column: 2; grid-row: 3; }
    }
}




.switch-screen {
    width: var(--switch-width-screen);
    height: var(--switch-height-screen);
    background: var(--switch-black);
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 1rem;
    position: relative;

    .content {
        width: 100%;
        height: 100%;
        padding: 3rem;
        background:
            radial-gradient(circle at top left,
                hsla(196, 66%, 59%, 0.078),
                transparent 30%),
            radial-gradient(circle at bottom right,
                hsla(11, 97%, 71%, 0.078),
                transparent 30%),
            var(--switch-screen-color);
        border-radius: 1rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .detail-screen {
            display: none;
            height: 100%;
            color: white;
            font-family: "Jost";
            border-radius: 2rem;

            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0.04),
                    rgba(255, 255, 255, 0.02));
            backdrop-filter: blur(20px);

            animation: fadeScreen 0.4s ease;


            &::-webkit-scrollbar {
                display: none;
            }

            &.active-screen {
                display: block;
            }

            h2 {
                font-size: 3rem;
                margin-bottom: 0.5rem;
                font-weight: bold;

            }

            h3 {
                font-size: 1.5rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
                line-height: 1.5;

                span {
                    color: white;
                }

            }

            h4 {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
            }

            h5 {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.8;
                max-width: 85ch;
                margin-bottom: 1.5rem;
            }

            .subtitle {
                color: var(--switch-blue);
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 3rem;
            }
        }

        .screen-menu {
            display: flex;
            gap: 0.1rem;
            align-items: center;
            height: 100%;

            div {
                display: flex;
                color: var(--switch-screen-text);
                flex-direction: column;
                font-family: "Jost";
                font-weight: bold;
                font-size: 1.5rem;

                .button-border {
                    padding: 0.3rem;
                    border: 5px solid transparent;
                    border-radius: 1rem;
                    transition: padding 0.3s ease, border 0.3s ease;
                }

                p {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    white-space: nowrap;
                }

                &:has(.active) {
                    p {
                        opacity: 1;
                        transition: opacity 0.3s ease;
                    }

                    .button-border {
                        padding: 0.3rem;
                        border: 5px solid var(--switch-screen-text);
                        border-radius: 1rem;
                        transition: padding 0.3s ease, border 0.3s ease;
                    }
                }
            }

            &.hidden {
                display: none;
            }

            .screen-btn {
                width: 220px;
                aspect-ratio: 1;
                border: none;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .screen-menu::after {
            content: "";
            height: 100%;
            width: 3rem;
            flex: 0 0 3rem;
        }
    }
}

@keyframes fadeScreen {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
