:root {
    --body-secondary: hsla(133, 97%, 13%, 0.6);

    --switch-red: #fe6054;
    --switch-blue: #01c4e0;
    --switch-black: #403f3d;
    --switch-white: #feffff;

    --switch-red-glow: #fe605438;
    --switch-blue-glow: #01c4e038;

    --switch-screen-color: #2d2d2d;
    --switch-screen-text: #2083ad;

    /* Normal size: 102mm x 33mm */
    /* Dimensies bron: https://www.dimensions.com/element/nintendo-switch */
    --switch-width-controller: 198px;
    --switch-height-controller: 612px;

    /* Normaal 175mm x 102mm */
    --switch-width-screen: 1050px;
    --switch-height-screen: 612px;
}

.switch-controller {
    display: flex;



    #btn-l,
    #btn-r {
        position: absolute;
        width: 8.9rem;
        height: 5rem;
        background: var(--switch-black);
        top: -0.5rem;
        z-index: -1;
        border: none;
    }

    .switch-left,
    .switch-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .joystick {
        width: 6.5rem;
        aspect-ratio: 1;
        background: #202020;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stick {
        background: var(--switch-black);
        width: 6.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 10px solid rgb(53, 53, 53);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: -10px;
            background: var(--switch-black);
            corner-shape: notch;
            border-radius: 45%;
        }
    }

    .switch-left {
        background: var(--switch-blue);
        width: var(--switch-width-controller);
        height: var(--switch-height-controller);
        border-radius: 8rem 1rem 1rem 8rem;
        position: relative;
        padding: 6rem;

        #btn-l {
            right: 2.5rem;
            border-radius: 90% 0rem 0rem 0rem;
        }

        #btn-minus {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            width: 2rem;
            height: 0.5rem;
            background: var(--switch-black);
            margin-top: 1rem;
            border: none;
        }

        .btn-container {
            button {
                font-size: 1.6rem;
            }
        }

        #btn-screenshot {
            width: 2.8rem;
            aspect-ratio: 1;
            border-radius: 3px;
            border: none;
            background: var(--switch-black);
            font-size: 1.4rem;
            margin-right: -5rem;
            margin-top: -0.8rem;
        }
    }

    .switch-right {
        background: var(--switch-red);
        width: var(--switch-width-controller);
        height: var(--switch-height-controller);
        border-radius: 1rem 8rem 8rem 1rem;
        position: relative;
        padding: 5rem;

        #btn-r {
            left: 2.5rem;
            border-radius: 0rem 90% 0rem 0rem;
        }

        #btn-plus {
            position: absolute;
            top: 1.5rem;
            left: 1rem;
            width: 2rem;
            aspect-ratio: 1;
            corner-shape: notch;
            border-radius: calc(100%/3);
            background: var(--switch-black);
            border: none;
        }

        .btn-container {
            button {
                font-size: 1.2rem;
                color: var(--switch-white);
            }
        }

        #btn-home {
            width: 2.8rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background: var(--switch-black);
            border: 6px solid #535353;
            font-size: 1.4rem;
            margin-left: -5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }
    }

    .switch-screen {
        corner-top-left-shape: scoop;
        corner-top-right-shape: scoop;
        border-radius: 1.5rem 1.5rem 2rem 2rem;

        .content {
            border: 2rem solid black;
            border-top: 1.5rem solid black;
            border-bottom: 1.5rem solid black;
    
            .detail-screen {
                padding: 2rem;               

                h3 {
                    color: #7be7ff;
                }
            }
        }
    }
}



@media (max-width: 1400px) {
    .switch-controller {
        scale: 0.7;
    }
}

@media (max-width: 1000px) {
    .switch-controller {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .switch-left {
            order: 2;
        }
        .switch-right {
            order: 3;
        }
    }
}

@media (max-width: 750px) {
    .switch-controller {
        scale: 0.5;
    }
}

/* **************** */
/* Zelda Easter Egg */
/* **************** */


#zelda-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    z-index: -10;
}

#arrow,
#korok {
    position: absolute;
    width: 10rem;
    height: auto;
    left: 0;
    top: 0;
    transform-origin: center;
}

/* ******************** */
/* Minecraft Easter Egg */
/* ******************** */

#minecraft-overlay {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    padding: 2.5rem 3rem;

    &.hidden {
        display: none;
    }
}

.mc-tile {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.mc-crack {
    position: absolute;
    inset: 0;

    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    pointer-events: none;
}