:root {
    --body-secondary: hsla(180, 100%, 52%, 0.6);

    --switch-red: #fd886f;
    --switch-blue: #53b8dc;
    --switch-black: #403f3d;
    --switch-white: #feffff;
    --switch-black-accent: #2b2a28;

    --switch-screen-color: #2d2d2d;
    --switch-screen-text: #2083ad;

    /* Normal size: 116mm x 30.7mm */
    /* Dimensies bron: https://www.nintendo.com/nl-nl/Hardware/Nintendo-Switch-2/Nintendo-Switch-2-Specificaties-2785627.html?srsltid=AfmBOoqZBPBSjOMNFwO9OwzFyUoCPXfzVXbFAFblwaFuebyZJF2gZzQ3 */
    --switch-width-controller: 200px;
    --switch-height-controller: 696px;

    /* Normaal 200mm x 116mm */
    --switch-width-screen: 1200px;
    --switch-height-screen: 696px;
}

.switch2-controller {
    display: flex;
    /* gap: 4rem; */

    #btn-l,
    #btn-r {
        position: absolute;
        width: 9.5rem;
        height: 8rem;
        background: var(--switch-black-accent);
        top: -0.2rem;
        z-index: -1;
        border: none;
    }

    .switch-left,
    .switch-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .joystick {
        width: 7rem;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stick {
        background: var(--switch-black);
        width: 6.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 10px solid rgb(53, 53, 53);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: -10px;
            background: var(--switch-black);
            corner-shape: notch;
            border-radius: 45%;
        }
    }

    .switch-left {
        background: var(--switch-black);
        width: var(--switch-width-controller);
        height: var(--switch-height-controller);
        border-radius: 11rem 1rem 1rem 11rem;
        position: relative;
        padding: 6rem 0;

        #btn-l {
            right: 2.5rem;
            border-radius: 90% 0rem 0rem 0rem;

            /* &:hover {
                transform: translate(3px, 3px);
            } */
        }


        #btn-minus {
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            width: 2rem;
            height: 0.5rem;
            background: var(--switch-black-accent);
            margin-top: 1rem;
            border: none;
        }

        .btn-container {
            button {
                font-size: 1.6rem;
            }
        }

        #btn-screenshot {
            width: 2.8rem;
            aspect-ratio: 1;
            border-radius: 3px;
            border: none;
            background: var(--switch-black-accent);
            font-size: 1.4rem;
            margin-right: -5rem;
            margin-top: -0.8rem;
        }

        .joystick {
            background: var(--switch-blue);
        }
    }

    .switch-right {
        background: var(--switch-black);
        width: var(--switch-width-controller);
        height: var(--switch-height-controller);
        border-radius: 1rem 11rem 11rem 1rem;
        position: relative;
        padding: 5rem 0;

        #btn-r {
            left: 2.5rem;
            border-radius: 0rem 90% 0rem 0rem;
        }

        #btn-plus {
            position: absolute;
            top: 1.5rem;
            left: 1rem;
            width: 2rem;
            aspect-ratio: 1;
            corner-shape: notch;
            border-radius: calc(100%/3);
            background: var(--switch-black-accent);
            border: none;
        }

        .btn-container {
            button {
                font-size: 1.2rem;
                color: var(--switch-white);
            }
        }

        #btn-home {
            width: 2.8rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background: var(--switch-black-accent);
            border: none;
            font-size: 1.4rem;
            margin-left: -5rem;
        }

        #btn-online {
            width: 2.8rem;
            width: 2.8rem;
            aspect-ratio: 1;
            border-radius: 3px;
            border: none;
            background: var(--switch-black-accent);
            font-size: 1.8rem;
            margin-left: -5rem;
            margin-top: -0.8rem;
            font-weight: bold;
        }

        .joystick {
            background: var(--switch-red);
        }
    }

    .switch-screen {
        border-radius: 1rem;


        .content {
            border: 3rem solid black;
            border-top: 1rem solid black;
            border-bottom: 1rem solid black;

            .screen-menu.hidden {
                display: none;
            }

            .detail-screen {
                padding: 3rem;   

                h3 {
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .switch2-controller {
        scale: 0.6;
        flex-wrap: wrap;
        justify-content: center;

        gap: 1rem;
        .switch-left {
            order: 2;
        }
        .switch-right {
            order: 3;
        }
    }
}

@media (max-width: 750px) {
    .switch2-controller {
        scale: 0.5;
        gap: 6rem;
    }
}

@media (max-width: 600px) {
    .switch2-controller {
        scale: 0.45;
        gap: 8rem;
    }
}

/* ************************ */
/* Hollow Knight Easter Egg */
/* ************************ */

#launch-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    z-index: -10;
}

#flea, #grub {
    position: absolute;
    width: 10rem;
    height: auto;
    left: 0;
    top: 0;
    transform-origin: center;
}

/* ******************** */
/* Undertale Easter Egg */
/* ******************** */


/* Source: https://fonts2u.com/mars-needs-cunnilingus.font */
@font-face {
    font-family: "Undertale";
    src: url("../Assets/fonts/Undertale-Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#undertale-overlay {
    position: absolute;
    width: calc(100% - 8rem);
    height: calc(100% - 4rem);
    background: black;
    inset: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
    font-family: "Undertale";
    margin: auto;

    &.hidden {
        display: none;
    }

    .sans {
        display: flex;
        flex-direction: column;
        align-items: center;
        scale: 1.2;
        position: relative;

        #sans-head {
            margin-bottom: -0.5rem;
            animation: headBob 5s ease-in-out infinite;
        }

        .sleep-zs {
            position: absolute;
            top: 0;
            right: 1rem;

            span {
                position: absolute;
                font-family: monospace;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 0 black;
                opacity: 0;

                animation: sansSleep 2.5s infinite;

                &:nth-child(1) {
                    font-size: 20px;
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    font-size: 26px;
                    animation-delay: 0.8s;
                }
                &:nth-child(3) {
                    font-size: 34px;
                    animation-delay: 1.6s;
                }
            }
        }
    }

    .arena {
        width: 15rem;
        aspect-ratio: 1;
        background: black;
        border: 5px solid white;
        display: flex;
        justify-content: center;
        align-items: center;

        #heart {
            width: 2rem;
            height: auto;
        }
    }

    .battle-info {
        display: flex;
        gap: 2rem;
        font-size: 2.7rem;

        >div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            p:first-of-type, span {
                font-size: 2rem;
                margin-right: 1rem;
            }

            progress {
                width: 10rem;
                height: 2rem;
                border-radius: 0;
            }

            progress::-webkit-progress-bar {
                background-color: #c30000;
            }

            progress::-webkit-progress-value {
                background-color: #ffff00;
            }
        }

    }
}

@keyframes headBob {
    0% { transform: translateY(0); }
    33% { transform: translateY(5px); }
    66% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

@keyframes sansSleep {
    0% {
        transform: translate(0, 0) scale(0.8);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        transform: translate(30px, -30px) scale(1.5);
        opacity: 0;
    }
}