/* Bron: https://famfonts.com/wii/ */
@font-face {
    font-family: "Wii-Font";
    src:url("../Assets/fonts/Wii-Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --wii-color: #efefef;
    --wii-color-text: #000000;
    

    --color-red: #e2dfe0;
    --color-blue: #1d95ba;
    --color-light: #1d95ba;
    --color-light-off: #67686c;
    --color-btn-border: #c4c7cc;
    --color-btn-border-shadow: #a7a7a7;
    --btn-shadow: drop-shadow(0 2px 0px var(--color-btn-border-color-shadow));


    /* Normaal 36.2mm x 160mm */
    /* Dimensions bron: https://www.dimensions.com/element/wii-remote */
    --controller-width: 217.4px;
    --controller-height: 960px;
}

.wii-controller {
    width: var(--controller-width);
    height: var(--controller-height);
    background-color: var(--wii-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--wii-color-text);
    position: relative;
    font-family: "Wii-Font", sans-serif;

    .power-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 5px;

        button {
            color: var(--color-red);
            border: 1px solid var(--color-btn-border);
            border-radius: 50%;
            padding: 2px;
            aspect-ratio: 1;
        }

        p {
            text-transform: uppercase;
        }
    }

    .dpad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        button {
            border: 2px solid var(--color-btn-border);
            background: var(--wii-color);
        }

        button:nth-of-type(1) {
            grid-area: 1 / 2;
            border-bottom: none;
            aspect-ratio: 1/1;
            width: 20px;
        }

        button:nth-of-type(2) {
            grid-row: 2;
            grid-column: 1;
            border-right: none;
            filter: var(--wii-button-shadow);
        }

        button:nth-of-type(3) {
            grid-row: 2;
            grid-column: 3;
            border-left: none;
            filter: var(--wii-button-shadow);
        }

        button:nth-of-type(4) {
            grid-row: 3;
            grid-column: 2;
            border-top: none;
            filter: var(--wii-button-shadow);
        }

        #top-pressed #button-top {transform: rotateX(22.5deg);}
        #top-pressed #button-left {filter: drop-shadow(0 4px 0 var(--wii-button-border-color-shadow)); transform: rotateX(22.5deg); margin-top: -2px;}
        #top-pressed #button-right {filter: drop-shadow(0 4px 0 var(--wii-button-border-color-shadow)); transform: rotateX(22.5deg); margin-top: -2px;}
        #top-pressed #button-bottom {filter: drop-shadow(0 6px 0 var(--wii-button-border-color-shadow)); transform: rotateX(-45deg); margin-top: -4px;}

        /* Left Button */
        #left-pressed #button-left {transform: rotateY(-30deg);}
        #left-pressed #button-top {filter: drop-shadow(4px 0 0 var(--wii-button-border-color-shadow)); transform:rotateY(22.5deg); margin-left: -2px;}
        #left-pressed #button-bottom {filter: drop-shadow(4px 2px 0 var(--wii-button-border-color-shadow)); transform:rotateY(22.5deg); margin-left: -2px; }
        #left-pressed #button-right {transform: rotateY(-30deg); filter: drop-shadow(3px 2px 0 var(--wii-button-border-color-shadow));  margin-left: -4px;}

        /* Right Button */
        #right-pressed #button-right {transform: rotateY(-22.5deg);}
        #right-pressed #button-top { filter: drop-shadow(-4px 0 var(--wii-button-border-color-shadow)); transform:rotateY(-22.5deg); margin-right: -2px;}
        #right-pressed #button-bottom { filter: drop-shadow(-4px 2px 0 var(--wii-button-border-color-shadow)); transform:rotateY(-22.5deg); margin-right: -2px;}
        #right-pressed #button-left {transform: rotateY(30deg); filter: drop-shadow(-3px 2px 0 var(--wii-button-border-color-shadow)); margin-right: -4px;}

        /* Bottom Button */
        #bottom-pressed #button-bottom {filter: drop-shadow(0 0px 0 var(--wii-button-border-color-shadow));}
        #bottom-pressed #button-left {filter: drop-shadow(0 -2px 0 var(--wii-button-border-color-shadow)); transform: rotateX(-22.5deg); margin-bottom: -2px;}
        #bottom-pressed #button-right {filter: drop-shadow(0 -2px 0 var(--wii-button-border-color-shadow)); transform: rotateX(-22.5deg); margin-bottom: -2px;}
        #bottom-pressed #button-top { filter: drop-shadow(0 -2px 0 var(--wii-button-border-color-shadow)); transform: rotateX(40deg);}
    }

    #btn-A {
        aspect-ratio: 1;
        width: 35px;
        border: 2px solid var(--color-btn-border);
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: var(--wii-button-shadow);
        color: var(--wii-color-text);
    }

    .center-buttons {
        display: flex;
        justify-content: space-evenly;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;

            button {
                border: none;
                
                i {
                    color: var(--color-blue);
                    border: 2px solid var(--color-btn-border);
                    border-radius: 50%;
                    aspect-ratio: 1;
                    height: 20px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        >button {
            border: 2px solid var(--color-btn-border);
            border-radius: 50%;
            aspect-ratio: 1;
            height: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--wii-color-text);
            filter: var(--wii-button-shadow);
        }
    }

    .sound-holes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        div {
            aspect-ratio: 1;
            border-radius: 50%;
            background: black;
            position: relative;

            &::before, 
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: black;
            }

            &::before {
                left: -20px;
            }

            &::after {
                left: 20px;
            }
        }

        .hole-small {
            width: 1.5px;
        }

        .hole-medium {
            width: 3px;
        }

        .hole-big {
            width: 5px;
        }
    }

    .btn-1-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        button {
            border: 2px solid var(--color-btn-border);
            border-radius: 50%;
            aspect-ratio: 1;
            width: 25px;
            text-align: center;
            filter: var(--btn-shadow);
            color: var(--wii-color-text);
        }
    }

    .player-lights {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        div {
            width: 8px;
            aspect-ratio: 1;
            background: var(--color-light-off);
        }

        #player-light {
            background: var(--color-light);
            filter: drop-shadow(0px 0px 3px var(--color-light));
        }
    }

    .wii-text {
        font-size: 2rem;

    } 
}

